

a {
	color: #fab000;
}

a {
	transition: color, background-color, opacity;
	transition-duration: .2s
}

a, a:hover {
	text-decoration: none
}

::-moz-selection {
	color: #fff;
	background: #fab000
}

::selection {
	color: #fff;
	background: #fab000
}

img {
	max-width: 100%
}

/* SLANTED AREA */

.bottom-contain {
	background: #3F51B5;
	padding-top: 140px;
	overflow: hidden
}

.newsletter {
	-webkit-transform: rotate(-1.5deg);
	-moz-transform: rotate(-1.5deg);
	-o-transform: rotate(-1.5deg);
	-ms-transform: rotate(-1.5deg);
	transform: rotate(-1.5deg);
	background: #e2e6e8;
	color: #000;
	padding: 50px 0 150px 0;
	text-align: center;
	margin: -60px -42px -80px -9px
}

.newsletter-inner {
	margin: 0 50px;
	-webkit-transform: rotate(1.5deg);
	-moz-transform: rotate(1.5deg);
	-o-transform: rotate(1.5deg);
	-ms-transform: rotate(1.5deg);
	transform: rotate(1.5deg)
}

.site-footer-container {
	background: #fab000
}

.site-footer {
	background: #fab000;
	-webkit-transform: rotate(1.5deg);
	-moz-transform: rotate(1.5deg);
	-o-transform: rotate(1.5deg);
	-ms-transform: rotate(1.5deg);
	transform: rotate(1.5deg);
	margin: -70px -50px 0 -50px;
	color: #000;
	padding: 70px 0 50px;
	text-align: center
}

.site-footer-inner {
	margin: 0 50px;
	-webkit-transform: rotate(-1.5deg);
	-moz-transform: rotate(-1.5deg);
	-o-transform: rotate(-1.5deg);
	-ms-transform: rotate(-1.5deg);
	transform: rotate(-1.5deg)
}

.site-footer h3 {
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 40px
}

@media (max-width:992px) {
.site-footer h3 {
	margin-bottom: 20px
}
}

.site-footer a {
	color: #000
}
.site-footer a:hover {
	color: #e2e6e8
}

.btn {
	background: #fab000;
	color: #fff;
	display: inline-block;
	font-family: Arial, sans-serif;
	font-size: 36px;
	font-style: italic;
	padding: 12px 20px;
	text-transform: uppercase
}
.btn:hover {
	background: #fff;
	color: #fab000
}

@media (max-width:768px) {
.btn {
	font-size: 24px;
	padding: 8px 14px
}
}
.btn-inverse {
	background: #111215;
	color: #fff
}

/* For Demo Only */

main {
  padding: 100px 0;
  text-align: center;
  font-size: 60px;
}
