<!-- <div class="hero-body">
	<div class="container">
		<h1 class="title">
			<div class="bracket bracket-left">{{bracketleft}}</div>
			<div class="title-text">
				Hi
				<span>I'm</span>
				<span class="name">Naveen</span>
			</div>
			<div class="bracket bracket-right">{{bracketright}}</div>
		</h1>
	</div>
</div> -->
<div *ngIf="this.router.url=='/'" class="content">
<h1 style="text-align: center;font-size: 120px;font-weight: 400;">
	<span style="color: #4A4A4A">{{bracketleft}}</span>
		<span> Hi I'm</span>
		<span class="name">NaveenSingh</span>
	<span style="color: #4A4A4A">{{bracketright}}</span>
</h1>
</div>
