
	<div style="text-align:center;font-size:30px;font-weight:400;justify:center;font-family:Nunito,sans-serif;">
				<p style="padding-top: 15%;">
					<span style="font-size: 60px;font-weight: 700;"> Helo, I'm</span>
					<span  highlight class="godofwar" id="test" style="font-size: 45px;text-align: center;">
					 NAVEENSINGH
					</span>

				<br/>
				<span class="sub" style="font-family:Nunito,sans-serif;">Full Stack Developer</span>
			</p>
			<div class="d-lg-block d-none" style="text-align:center;font-size:30px;font-weight:400;justify:center;font-family:Nunito,sans-serif;">
				<div class="d-flex flex-row bd-highlight mb-3" fxLayoutGap="20px" style="padding-left:45%">
					<div class="p-2 bd-highlight"><i style="cursor: pointer;" matTooltip="Whatspp" class="fa fa-whatsapp"></i></div>
					<div class="p-2 bd-highlight"><a href="" style="cursor: pointer;text-decoration:none;" target="_blank"><i matTooltip="github" class="fa fa-github"></i></a></div>
					<div class="p-2 bd-highlight"><a href="" target="_blank"><i style="cursor: pointer;" matTooltip="Twitter" class="fa fa-twitter"></i></a></div>
				  </div>
			</div>

			<!-- Mobile View -->
				<div class="socialmedia d-lg-none d-xl-block d-xl-none d-md-none d-lg-block d-block d-md-block">
					<div class="d-flex flex-row bd-highlight mb-3" fxLayoutGap="20px">
						<div class="p-2 bd-highlight"><i style="cursor: pointer;" matTooltip="Whatspp" class="fa fa-whatsapp"></i></div>
						<div class="p-2 bd-highlight"><a href="" style="cursor: pointer;text-decoration:none;" target="_blank"><i matTooltip="github" class="fa fa-github"></i></a></div>
						<div class="p-2 bd-highlight"><a href="" target="_blank"><i style="cursor: pointer;" matTooltip="Twitter" class="fa fa-twitter"></i></a></div>
					</div>
				</div>


<!--
			<span style="border-top: 5px solid #ff4081; margin: 44px;padding-top: 60px; padding-left: 9%;"></span> -->
