<p style="font-size: 50px;padding: 50px;font-family: Nunito,sans-serif;"> Skills
    <ngx-emoji emoji="male-technologist" set="emojione" size="60"></ngx-emoji>
</p>
<span style="border-top: 5px solid #ff4081; margin: 44px;padding-top: 60px; padding-left: 9%;"></span>

<div style="padding:60px;">
    <div class="row">
        <div class="col-lg-6">
            <p style="font-size: 30px;font-family: Nunito,sans-serif;"> Frontend</p>
        </div>
        <div class="col-lg-6">
            <p style="font-size: 30px;font-family: Nunito,sans-serif;"> Backend</p>
        </div>
    </div>
    <div class="row">
            <div class="col-lg-6">
                <p style="font-size: 22px;font-family: Nunito,sans-serif;"> HTML</p>
                <div class="progress" style="cursor: pointer;">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                        40%
                    </div>
                </div>
            </div>
        <div class="col-lg-6">
            <p style="font-size: 22px;font-family: Nunito,sans-serif;"> PHP</p>
            <div class="progress" style="cursor: pointer;">
                <div class="progress-bar progress-bar-striped" matTooltip="Info about the action"
                role="progressbar" style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
        <br/>
        <div class="row">
            <div class="col-lg-6">
                <p style="font-size: 22px;font-family: Nunito,sans-serif;"> CSS</p>
                <div class="progress" style="cursor: pointer;">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                        40%
                    </div>
                </div>
            </div>
        <div class="col-lg-6">
            <p style="font-size: 22px;font-family: Nunito,sans-serif;"> CSS</p>
            <div class="progress" style="cursor: pointer;">
                <div class="progress-bar progress-bar-striped" matTooltip="Info about the action"
                role="progressbar" style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-6">
            <p style="font-size: 22px;font-family: Nunito,sans-serif;"> Javascript</p>
            <div class="progress" style="cursor: pointer;">
                <div class="progress-bar progress-bar-striped active" role="progressbar"
                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                    40%
                </div>
            </div>
        </div>
    <div class="col-lg-6">
        <p style="font-size: 22px;font-family: Nunito,sans-serif;"> PHP</p>
        <div class="progress" style="cursor: pointer;">
            <div class="progress-bar progress-bar-striped" matTooltip="Info about the action"
            role="progressbar" style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>
</div>
<p style="font-size: 50px;padding: 50px;font-family: Nunito,sans-serif;"> Hobbies
    <ngx-emoji emoji="video_game" set="emojione" size="60"></ngx-emoji>
</p>

<p style="font-size: 24px;font-family: Nunito,sans-serif;"> 
    Other than coding, My Hobbies are mostly playing the PS4 Games, <br/>Here is the List of Games which i played so far decade
</p>
<span style="font-size: 24px;" class="godofwar">horizon zero dawn</span>


<div style="padding:50px;">
<mat-card class="example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title><span  style="font-family: Nunito,sans-serif;">Horizon Zero Dawan </span></mat-card-title>
      <mat-card-subtitle>Action and Adventure</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/ps4/1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      Gameplay : <br/>
      Adventure : <br/>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>Check</button>
    </mat-card-actions>
  </mat-card>
</div>