<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <a class="active" href=""><img src="assets/boy.png" width="50"></a>

    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="{'is-exact-active menu-active' : is-exact-active menu-active =='skills'}" routerLink="skills" class="menustyle" href="#">Skills</a>
      <a mat-list-item routerLinkActive="{'is-exact-active menu-active' : is-exact-active menu-active =='blogs'}" routerLink="blogs" class="menustyle" href="#">Blog</a>
      <a mat-list-item routerLinkActive="{'is-exact-active menu-active' : is-exact-active menu-active =='contact'}" routerLink="contact" class="menustyle" href="#">Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="float: right;">
        <i class="material-icons">
        nights_stay
        </i>
      </span>
      <div class="tt">
        <div class="hh">
          <h2>Hello</h2>
        </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
    <!-- <h4 class="godofwar center-me" style="text-align: center;"> NAVEEN SINGH</h4> -->
  </mat-sidenav-content>
</mat-sidenav-container>
