/* .sidenav-container {
  height: 100%;
  font-family:Nunito Sans,sans-serif;
}

.sidenav {
  width: 200px;
  font-family:Nunito Sans,sans-serif;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.center-me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
} */

.menustyle{

  font-family:Nunito Sans,sans-serif;
  display: flex;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;


}

.homelink.is-active{
  border-top: 3px solid #ff1d6f;
}

.menu-active {
color: #ff1d6f;
} 

.button {
  background-color: #1da1f2;
  border: none;
  color: white;
  padding: 6px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  background-color: beige;
}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  
  height: 140px;
}


